black~=22.0
flake8>=3.7.9, <5.0
ipython>=7.31.1, <8.0; python_version < '3.8'
ipython~=8.10; python_version >= '3.8'
isort~=5.0
kedro~=0.18.7
kedro-telemetry~=0.2.0
kedro-airflow==0.5.1
kedro-datasets==1.0.2
kedro-docker==0.3.1
kedro-mlflow==0.11.8
kedro-telemetry==0.2.4
kedro-viz==5.3.0
pytest~=7.2
apache-airflow==2.5.3
apache-airflow-providers-common-sql~=1.4.0
apache-airflow-providers-ftp~=3.3.1
apache-airflow-providers-http~=4.3.0
apache-airflow-providers-imap~=3.1.1
apache-airflow-providers-sqlite~=3.3.1
async-timeout==4.0.2
convertdate==2.4.0
cookiecutter==2.1.1
DateTime==5.1
docker==6.0.1
Flask==2.2.3
gitdb==4.0.10
GitPython==3.1.31
influxdb-client==1.36.1
Jinja2==3.1.2
jinja2-time==0.2.0
joblib==1.2.0
json5==0.9.11
keras==2.12.0
lightgbm==3.3.5
matplotlib
matplotlib-inline
ml-dtypes==0.0.4
mlflow==2.2.2
numpy
optuna==3.1.1
pandas==2.0.0
pickleshare==0.7.5
pip-tools==6.13.0
pipreqs==0.4.11
PyYAML==6.0
statsmodels==0.13.5
scikit-learn==1.2.2
scipy==1.10.1
Prophet
